In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import ensemble
from sklearn.metrics import mean_absolute_error

In [4]:
pwd

'c:\\Users\\Sasha\\Desktop\\Py\\Git\\MLHousePrices'

In [5]:
df = pd.read_csv('c:\\Users\\Sasha\\Desktop\\Py\\Git\\MLHousePrices\\Melbourne_housing_FULL.csv')

In [6]:
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,3/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,4/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0

In [8]:
df.iloc[100]

Suburb                         Airport West
Address                        180 Parer Rd
Rooms                                     3
Type                                      h
Price                                830000
Method                                    S
SellerG                               Barry
Date                             16/04/2016
Distance                               13.5
Postcode                               3042
Bedroom2                                  3
Bathroom                                  1
Car                                       2
Landsize                                971
BuildingArea                            113
YearBuilt                              1960
CouncilArea      Moonee Valley City Council
Lattitude                          -37.7186
Longtitude                          144.876
Regionname             Western Metropolitan
Propertycount                          3464
Name: 100, dtype: object

In [9]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [13]:
del df['Address']
del df['Method']
del df['SellerG']
del df['Date']
del df['Postcode']
del df['Lattitude']
del df['Longtitude']
del df['Regionname']
del df['Propertycount']

In [14]:
df.dropna(axis = 0, how = 'any', thresh = None, subset = None, inplace = True)

In [17]:
df = pd.get_dummies(df, columns = ['Suburb', 'CouncilArea', 'Type'])

In [20]:
X = df.drop('Price',axis=1)
y = df['Price']

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True)

In [30]:
model = ensemble.GradientBoostingRegressor(n_estimators=250,learning_rate=0.1,max_depth=5,min_samples_split=4,min_samples_leaf=6,max_features=0.6,loss='huber')

In [31]:
model.fit(X_train,y_train)

GradientBoostingRegressor(loss='huber', max_depth=5, max_features=0.6,
                          min_samples_leaf=6, min_samples_split=4,
                          n_estimators=250)

In [32]:
mae_train = mean_absolute_error(y_train, model.predict(X_train))
print("Training Set Mean Absolute Error : %2f" %mae_train)

Training Set Mean Absolute Error : 124691.835490

In [33]:
mae_test = mean_absolute_error(y_test, model.predict(X_test))
print("Test Set Mean Absolute Error: %2f" % mae_test)

Test Set Mean Absolute Error: 154219.718751